<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="css/tables.css">
</head>

<body>
    <%- include navBar %>
    <br><br>
    <h1>:טבלת גבייה</h1>
    <br><br>
    <table align="center">
        <tr>
            <th>תאריך</th>
            <th>מס' דירה</th>
            <th>סכום לתשלום</th>
            <th>סכום ששולם</th>
            <th>חוב</th>
            <th>הערות</th>
        </tr>
        <%for(let f of feess){%>
        <tr>
            <%let date=f.feesDate%>
            <td><%=(date.getDate()+1)+"/"+(date.getMonth()+1)+"/"+date.getFullYear()%></td>
            <td><%=f.apartmentId%></td>
            <td><%=f.amountToPay%></td>
            <td><%=f.amountPayed%></td>
            <td><%=f.balanceDue%></td>
            <td><%=f.comments%></td>
        </tr>
        <%}%>
</table>
</body>
</html>