<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="css/tables.css">



</head>

<body>
    <%- include navbar%>
    <table>
        <tr>
            <th>מספר דירה</th>
            <th>תאריך</th>
            <th>סכום לתשלום</th>
            <th>סכום ששולם</th>
            <th>חובות</th>
            <th>הערות</th>
        </tr>

        <%for(let x of f) {%>
        <tr>
            <td><%=x.apartmentId%></td>
            <td><%=x.feesDate%></td>
            <td><%=x.amountToPay%></td>
            <td><%=x.amountPayed%></td>
            <td><%=x.balanceDue%></td>
            <td><%=x.comments%></td>
        </tr>
        <h1><%=x.amountToPay%> </h1>
        <%}%>
</table>
</body>







</html>