<!DOCTYPE html>
<html>

<head>
   <link rel="stylesheet" type="text/css" href="css/tables.css">
</head>

<body>
   <%-include navBar %>
   <%-include back%>
   <br><br>
   <h1>טבלת תשלומים</h1>
   <br><br>
   <table align="center">
      <tr>
         <th style="width:3%;">עריכה</th style="width:3%;">
         <th>אחר</th>
         <th>נקיון</th>
         <th>חשמל</th>
         <th>תאריך</th>
      </tr>
      <%for(let e of expenses){%>
      <tr>
         <%let date=e.dDate
         let d=(date.getDate()+1)+"/"+(date.getMonth()+1)+"/"+date.getFullYear()%>
         <td><img src="images/edit.png" style="width: 60%;"
               onclick="editPayment('<%=d%>','<%=e.electricity%>','<%=e.cleaning%>','<%=e.other%>')">
         <td><%=e.other%></td>
         <td><%=e.cleaning%></td>
         <td><%=e.electricity%></td>
         <td><%=d%></td>
      </tr>
      <%}%>

        </table>
        <br><br>
        <%- include newPayments %>

</body>
<script src='./js/payment.js'></script>

</html>