<!DOCTYPE html>
<html>

<head>
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="css/tables.css">

</head>

<body>
    <%-include navBar %>
    <%-include back%>
    <br><br>
    <h1>טבלת שכנים</h1>
    <br><br>
    <table id="tbl" align="center">
        <tr>
            <th style="width:3%;">עריכה</th style="width:3%;">
            <th>מייל</th>
            <th>טלפון 2</th>
            <th>טלפון 1</th>
            <th>שם משפחה</th>
            <th>שם פרטי</th>
            <th>מס' דירה</th>
        </tr>
        <%for(let r of residents){%>
        <tr>
            <td><img src="images/edit.png" style="width: 60%;"
                    onclick="editResident('<%=r.apartmentId%>','<%=r.firstName%>','<%=r.lastName%>','<%=r.phone1%>','<%=r.phone2%>','<%=r.email%>')">
            <td><%=r.email%></td>
            <td><%=r.phone2%></td>
            <td><%=r.phone1%></td>
            <td><%=r.lastName%></td>
            <td><%=r.firstName%></td>
            <td><%=r.apartmentId%></td>
        </tr>
        <%}%>
</table>
<%-include newResidents%>
</body>
<script src='./js/resident.js'></script>

</html>